// Font Size
$fs-xs: 12px;
$fs-sm: 14px;
$fs-med: 16px;
$fs-big: 20px;
$fs-sb: 24px;
$fs-xb: 30px;
// Colors
$main: #1976d2;
$b-main: #0c3b69;
$bg: #e9e9e9;
// Transition
$trans: all 0.3s ease-out;
// Shadow
$sh: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.15);