<form class="pt">
    <span class="icon">
        <i class="fas fa-sign-in-alt"></i>
    </span>
    <div class="input-container">
        <mat-form-field class="full-width">
            <input type="email" matInput placeholder="Correo Electrónico">
        </mat-form-field>
    </div>
    <div class="input-container">
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Contraseña">
        </mat-form-field>
    </div>
    <div class="input-container right">
        <button type="button" mat-flat-button color="primary">Iniciar Sesión</button>
    </div>
</form>