<div class="dialog-container">
    <h1 mat-dialog-title>Añadir vehículo</h1>
    <div mat-dialog-content>
        <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del vehículo">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Número de unidad">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Color">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-flat-button color="primary">Añadir</button>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
</div>