@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,900&display=swap');
@import './assets/scss/vars';
@import './assets/scss/normalize';

* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: $bg;
    overflow-x: hidden;
}

.full-width {
    width: 100%;
}

table {
    tbody {
        tr {
            &:last-of-type {
                td {
                    border-bottom: none;
                }
            }            
        }
    }
}